<section class="about" id="about">
    <div class="about_container">
        <div class="about_header">
            <h2 class="about_title">
                About <span class="about_title-accent">Us</span>
            </h2>
            <p class="about_subtitle">
                We are dedicated to providing engaging and effective English language courses
                in a supportive and stimulating learning environment
            </p>
        </div>

        <div class="about_content">
            <ol class="about_list">
                <li class="about_item">
                    <span class="about_item-number"></span>
                    <p class="about_item-text">Expert, innovative teaching staff</p>
                </li>
                <li class="about_item">
                    <span class="about_item-number"></span>
                    <p class="about_item-text">Wide range of course levels and options</p>
                </li>
                <li class="about_item">
                    <span class="about_item-number"></span>
                    <p class="about_item-text">Multicultural learning environment</p>
                </li>
                <li class="about_item">
                    <span class="about_item-number"></span>
                    <p class="about_item-text">Comprehensive language support services</p>
                </li>
            </ol>

            <div class="about_image-block">
                <img class="about_image" src="./img/about/memoji.webp"
                    srcset="./img/about/memoji.webp 1x, ./img/about/memoji@2x.webp 2x" alt="English learning memoji" />
            </div>
        </div>
    </div>
</section>