<!-- <section class="footer" id="footer">...</section> -->

<!-- #region Footer -->
<footer class="footer" id="footer">
  <div class="container footer-container">
    <div class="container-logo-adress">
      <a class="footer-logo" href="./index.html"
        >english<span class="footer-logo-accent">excellence</span>.
      </a>
      <address class="contacts">
        <ul class="contact-list">
          <li>
            <p class="contact-item">Phone number:</p>
            <a href="tel:+380684439426" class="contact-link">+380684439426</a>
          </li>
          <li>
            <p class="contact-item">Address:</p>
            <a href="https://maps.app.goo.gl/7AjVMf3FUJii84yN9" target="_blank"
              >32a M. Bazhana ave
            </a>
          </li>
        </ul>
      </address>
    </div>
    <div class="container-nav">
      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a href="#about-us" class="footer-nav-link">About us</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
<!-- #endregion Footer -->
