<section class="hero">
  <div class="hero-container">
    <div class="hero-content">
      <h1 class="hero-title">
        <span data-i18n="hero.title.before">Discover the joy of learning</span>
        <span class="hero-title-accent" data-i18n="hero.title.marker"
          >English</span
        >
        <span data-i18n="hero.title.after">with us!</span>
      </h1>

      <a href="#application" class="hero-button" data-i18n="hero.actions.apply">
        Leave an application
      </a>
    </div>

    <a
      href="#footer"
      class="hero-scroll-btn"
      aria-label="Scroll down"
      data-i18n-attr="aria-label:hero.actions.scrollDown"
    >
      <svg class="hero-scroll-icon" width="24" height="24" aria-hidden="true">
        <use href="./images/sprite.svg#icon-chevron-down"></use>
      </svg>
    </a>
  </div>
</section>
