<section class="proposal">
  <div class="container proposal-container">
    <div class="proposal-wrapper">
      <h2 class="section-title visually-hidden">
        Proposal to leave an application
      </h2>
      <p class="proposal-text">
        Master the <span class="accent">Language</span> with Our English
        Package!
      </p>
      <div class="card-bg-wrapper">
        <div class="bg-layer layer-1"></div>
        <div class="bg-layer layer-2"></div>
        <div class="white-card">
          <div class="card-content">
            <h3 class="card-title">Power of English</h3>
            <ul class="features-list">
              <li class="features-list-item">
                Dive into captivating lessons designed to stimulate your
                curiosity.
              </li>
              <li class="features-list-item">
                Learn in a nurturing setting where every student's progress
                matters.
              </li>
              <li class="features-list-item">
                Experience the satisfaction of real progress as your language
                skills and confidence grow with every session.
              </li>
            </ul>
            <a href="#application-form" class="button">Leave an application</a>
          </div>
          <img
            srcset="
              img/proposal/tall_stack_of_books.webp    1x,
              img/proposal/tall_stack_of_books@2x.webp 2x
            "
            src="img/proposal/tall_stack_of_books.webp"
            alt="Stack of colorful 3D rendered books"
            class="card-image"
            width="214"
            height="263"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
</section>
