<section class="teachers">
    <div class="container teachers-container">
        <!-- Title section -->
        <h2 class="teachers-title">
            Meet our <span class="teachers-title-span">teachers</span>
        </h2>
        <p class="describe">
            Discover our team of dedicated educators, committed to guiding you on your journey to English proficiency with personalized and engaging instruction
        </p>

        <!-- List with teachers -->
         <ul class="teachers-list">
            <!-- Maria -->
            <li class="teacher">
                <img 
                class="img-teacher" 
                src="./img/teachers/teacher-Maria.webp"
                srcset="./img/teachers/teacher-Maria.webp 1x, ./img/teachers/teacher-Maria@2x.webp 2x"
                alt="Avatar of Maria"
                />
                <div class="describe-card">
                    <h3 class="teacher-name">Maria</h3>
                    <p class="describe">
                        A seasoned linguist and our primary specialist in beginner-level instruction, Maria brings warmth and patience to every class
                    </p>
                </div>
            </li>
            <!-- Artem -->
            <li class="teacher">
                <img 
                class="img-teacher" 
                src="./img/teachers/teacher-Artem.webp"
                srcset="./img/teachers/teacher-Artem.webp 1x, ./img/teachers/teacher-Artem@2x.webp 2x"
                alt="Avatar of Artem"
                />
                <div class="describe-card">
                    <h3 class="teacher-name">Artem</h3>
                    <p class="describe">
                        With his innovative teaching techniques and a focus on interactive learning, Artem excels in keeping students engaged and motivated
                    </p>
                </div>
            </li>
            <!-- Ilona -->
            <li class="teacher">
                <img 
                class="img-teacher" 
                src="./img/teachers/teacher-Ilona.webp"
                srcset="./img/teachers/teacher-Ilona.webp 1x, ./img/teachers/teacher-Ilona@2x.webp 2x"
                alt="Avatar of Ilona"
                />
                <div class="describe-card">
                    <h3 class="teacher-name">Ilona</h3>
                    <p class="describe">
                        A specialist in advanced English, Ilona provides intensive instruction, ensuring students gain confidence in complex language tasks
                    </p>
                </div>
            </li>
            <!-- Volodymyr -->
            <li class="teacher">
                <img 
                class="img-teacher" 
                src="./img/teachers/teacher-Volodymyr.webp"
                srcset="./img/teachers/teacher-Volodymyr.webp 1x, ./img/teachers/teacher-Volodymyr@2x.webp 2x"
                alt="Avatar of Volodymyr"
                />
                <div class="describe-card">
                    <h3 class="teacher-name">Volodymyr</h3>
                    <p class="describe">
                        Our expert in English for specific purposes, Volodymyr tailors his approach to meet individual career and industry-specific language needs
                    </p>
                </div>
            </li>
         </ul>
    </div>
</section>

